::ng-deep .ng-dropdown-panel {
  background-color: #fff;
  margin: 10px; /* ajusta el valor de los márgenes según tus necesidades */
  border-radius: 5px; /* ajusta el valor del radio según tus necesidades */
  border: 1px solid #ced4da; /* ajusta el valor del color según tus necesidades */
}
